{% extends 'base.html.twig' %}

{% block title %}Planet index{% endblock %}

{% block body %}
    <h1>Planet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>LightYearsFromEarth</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planet in planets %}
            <tr>
                <td>{{ planet.id }}</td>
                <td>{{ planet.name }}</td>
                <td>{{ planet.description }}</td>
                <td>{{ planet.lightYearsFromEarth }}</td>
                <td>
                    <a href="{{ path('app_planet_show', {'id': planet.id}) }}">show</a>
                    <a href="{{ path('app_planet_edit', {'id': planet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planet_new') }}">Create new</a>
{% endblock %}
