{% extends 'base.html.twig' %}

{% block title %}Manage Planets{% endblock %}

{% block body %}
<div class="m-4 p-4 bg-gray-800 rounded-lg">
    <h1 class="text-xl font-semibold text-white mb-4">Planets</h1>

    <table class="min-w-full bg-gray-800 text-white">
        <thead class="border-b border-gray-700">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Id</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">LightYearsFromEarth</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-600">
        {% for planet in planets %}
            <tr class="even:bg-gray-700 odd:bg-gray-600">
                <td class="px-6 py-4 whitespace-nowrap">{{ planet.id }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ planet.name }}</td>
                <td class="px-6 py-4">{{ planet.description }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ planet.lightYearsFromEarth }}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a href="{{ path('app_planet_show', {'id': planet.id}) }}" class="text-blue-400 hover:text-blue-600">show</a>
                    <a href="{{ path('app_planet_edit', {'id': planet.id}) }}" class="ml-4 text-yellow-400 hover:text-yellow-600">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-gray-400">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planet_new') }}" class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700">
        Create new
    </a>
</div>
{% endblock %}
